.card-header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.edu-card,
.work-exp-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.CV-Div {
  width: 100%;
  max-width: 800px; 
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.CV-Div h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.CV-Div h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.CV-Div p {
  font-size: 16px;
  margin-bottom: 15px;
}

.CV-Div ul {
  list-style-type: disc;
  margin-left: 20px;
}

.CV-Div hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

@media print {
  .cv-section {
    border: none;
    background-color: transparent;
  }
}
